body{
    font-family: minion-pro-caption, verdana, serif;
    background-color: #232423;
    color: #eeeeee;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-image: -o-linear-gradient(to right, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-image: linear-gradient(to right, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-size: 15px 15px;
}

h3{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
    color: #DEC83A;
}

section{
    padding: 1em;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

a{
    color: #4591F5;
    text-decoration: none;
}

.emphasis{
    color: #DEC83A;
}

/*******************************
 header styling
 */
header{
    text-align: center;
    padding: 1em 0;
}

h1{
    font-size: 3em;
    letter-spacing: .2em;
    font-weight: 300;
}

header h2{
    font-size: 1.33333em;
    font-weight: 400;
    margin-top: .25em;
}

h1, header h2{
    font-family: trajan-pro-3, verdana, serif;
}
/*
 end header styling
*******************************/


/******************************
phone
*/
.phone a{
    font-size: 2em;
    font-weight: 700;
}
.phone{
    background-color: #232423;
    text-align: center;
    box-shadow: 0 0 .35em #DEC83A;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    color: #DEC83A;
}
/*
end phone
******************************/

/******************************
yelp
*/

.yelp{
    min-height: 80px;
/*    border-radius: 15px;
    border: 1px solid #eeeeee;
    background-color: #232423;
    box-shadow: 0 0 .5em #eeeeee;*/
}

.yelp p{
    font-weight: 600;
    font-size: 2em;
}

.yelp img{
    float: left;
    width: 90px;
    margin-right: .5em;
    margin-bottom: .5em;
}
/*
end yelp
******************************/


/******************************
services
*/

.services li{
    margin-bottom: 1em;
    font-size: 1.333em;
}

.services li:before{
    content: "\00BB \0020";
}

/*
end services
******************************/