body{
    font-family: minion-pro-caption, verdana, serif;
    background-color: #232423;
    color: #eeeeee;
    padding: 1em;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-image: -o-linear-gradient(to right, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-image: linear-gradient(to right, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-size: 15px 15px;
}

h3{
    font-size: 1.1667em;
    font-weight: 700;
}
header, section, footer{
    margin-bottom: 2em;
}

/*******************************
 header styling
 *******************************/
header{
    text-align: center;
    padding: 1em 0;
}

h1{
    font-size: 3em;
    letter-spacing: .2em;
    font-weight: 300;
/*    color: #4591F5;*/
}

header h2{
    font-size: 1.33333em;
    font-weight: 400;
    margin-top: .25em;
}

h1, header h2{
    font-family: trajan-pro-3, verdana, serif;
}

/*******************************
 end header styling
*******************************/

.phone a{
    font-size: 2em;
    font-weight: 700;
    color: #DEC83A;
    text-decoration: none;
}
.phone{
    text-align: center;
    box-shadow: 0 0 .35em #DEC83A;
}

section{
    margin-left: -1em; /*expand through the body padding*/
    margin-right: -1em;
    background-color: #232423;
    padding: 1em 0;
}

