body{
    font-family: minion-pro-caption, verdana, serif;
    background-color: #232423;
    color: #eeeeee;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-image: -o-linear-gradient(to right, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-image: linear-gradient(to right, rgba(255, 255, 255, .05) 5%, transparent 5%, transparent);
    background-size: 15px 15px;
}

.clear{
    clear: both;
}

section h3{
    text-align: center;
    font-size: 1.125em;
    margin-bottom: 1.5em;
    color: #DEC83A;
    width: 100%;
}

section{
    margin-bottom: 2.5em;
}

section > *{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: #4591F5;
    text-decoration: none;
}

.emphasis{
    color: #DEC83A;
}

/*******************************
 header styling
 */
header{
    text-align: center;
    padding: 1em 0;
}

h1{
    font-size: 3em;
    letter-spacing: .2em;
    font-weight: 300;
}

header h2{
    font-size: 1.33333em;
    font-weight: 300;
    margin-top: .25em;
}

h1, header h2, section h3{
    font-family: trajan-pro-3, verdana, serif;
}
/*
 end header styling
*******************************/


/******************************
phone
*/
.phone a{
    font-size: 2em;
    font-weight: 600;
}
.phone{
    background-color: #232423;
    text-align: center;
    box-shadow: 0 0 .35em #DEC83A;
    max-width: 100%;
    color: #DEC83A;
    padding-top: 1em;
    padding-bottom: 1em;
}
/*
end phone
******************************/

/******************************
yelp
*/

.yelp{
    margin: 3em auto;
}

.yelp p{
    font-family: trajan-pro-3, verdana, serif;
    font-size: 1.125em;
    line-height: 1.34em;
    width: 230px;
}

.yelp img{
    float: left;
    width: 3em;
    margin-right: .5em;
    margin-bottom: .5em;
    margin-left: -5px;
}
/*
end yelp
******************************/


/******************************
fleet
*/

.fleet{
    text-align: center;
}

.fleet li{
    margin-top: 3em;
}

.fleet li figure{
    display: inline-block; /*center everything*/
}

/*circles*/
.fleet li .wrapper{
    margin: 0 auto; /*center the images*/
    width: 175px;
    height: 175px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    background-color: white;
}
.fleet li img{
    width: 150px;
    margin-top: 30px;
    margin-left: 10px;
}

.fleet figcaption{
    margin-top: .75em;
}

/*
end fleet
******************************/


/******************************
services
*/

.services li{
    margin-bottom: 1em;
    font-size: 1.333em;
    margin-left: 1em;
}

.services li:before{
    content: "\00BB \0020";
}

.services p{
    padding-top: 1em;
}

/*
end services
******************************/


/******************************
testimonials
*/

.testimonials{
    background-color: #232423;
    padding: 2em 0;
    box-shadow: 0 0 .35em #DEC83A;
}

.testimonials li{
    margin-bottom: 2em;
}

.testimonials li p{
    line-height: 1.4375em;
}

.curlystart{
    font-size: 8em;
    height: 1px;
    margin-top: 45px;
    float: left;
}


/*
end testimonials
******************************/


@media screen and (min-width: 600px){

    .divider{
        max-width: 900px;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        padding: 3px 0; /*so the borders show*/
        overflow: hidden;
    }

    .services{
        width: calc(66% - 4em);
        margin: 0 2em;
        max-width: 600px;
    }

    .testimonials{
        width: calc(33% - 3em);
        padding-right: 3em;
        max-width: 300px;
    }

    section {
        margin-bottom: 0;
    }

    section > *{
        width: 100%;
        margin: 0;
    }

    .testimonials, .services{
        float: left;
    }

    /* turn off background styling and border*/
    .testimonials{
        background-color: transparent;
        box-shadow: none;
    }

    .testimonials{
        padding: 0;
        font-size: .833em;
        line-height: 1.461em;
    }

    .testimonials h3{
        display: none;
    }

    .testimonials li p.emphasis{
        display: none;
    }

    .services{
        padding: 2em 0;
    }

    .services ul, .services h3, .services p{
        margin-left: 3em;
    }

    .services li{
        margin-left: 0;
    }

    .services h3{
        text-align: left;
    }

    .fleet{
        clear: both;
        padding-top: 3em;
        background-color: #232423;
        box-shadow: 0 0 .35em #DEC83A;
        margin-top: 3em;
    }
    
    .yelp{
        font-size: 1.333em;
        margin-top: 2em;
        margin-bottom: 0;
    }
    
    .yelp p{
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 730px){
    .top{
        box-shadow: 0 0 .35em #DEC83A;
    }
    .phone{
        box-shadow: none;
    }
    header{
        background-color: #232423;
    }
    header h1{
        color: #DEC83A;
    }


    .yelp{
        width: calc(33% - 3em);
        margin: 0;
        max-width: 300px;
        padding-right: 3em;
        float: right;
        font-size: 1em;
        padding: 2em 3em 2em 0; /*matches padding of services section*/
    }
    .yelp img{
        width: 45px;
    }
    .yelp p{
        font-size: 1em;
        width: 100%;

    }
}